<div class="ui container" *ngIf="!this.loading && !this.error">
    <br />
    <h2 class="ui dividing header">
        {{this.availability?.location}} ({{formatDate(this.availability?.startTime)}} - {{formatDate(this.availability?.endTime)}})
    </h2>
    <form class="ui form">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="field">
                    <label>Dance Limit</label>
                    <span>{{availability?.danceLimit}}</span>
                </div>
            </div>
            <div class="three wide column">
                <div class="field">
                    <label>Requested Dances</label>
                    <span>{{danceList.length}}</span>
                </div>
            </div>
            <div class="three wide column">
                <div class="field">
                    <label>Fulfilled Dances</label>
                    <span>{{getStatusCount('FULFILLED')}}</span>
                </div>
            </div>
            <div class="three wide column">
                <div class="field">
                    <label>Unfulfilled Dances</label>
                    <span>{{getStatusCount('UNFULFILLED')}}</span>
                </div>
            </div>
            <div class="three wide column">
                <div class="field">
                    <label>No Shows</label>
                    <span>{{getStatusCount('NO_SHOW')}}</span>
                </div>
            </div>
        </div>
        <h4 class="ui dividing header">
            Dances
        </h4>

        <table class="ui selectable inverted table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Booking Date/Time</th>
                    <th>Dance Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dance of danceList">
                    <td>{{dance.name}}</td>
                    <td>{{formatDate(dance.created)}}</td>
                    <td>
                        <select class="ui inverted dropdown" (change)="this.updateStatus(dance, $event.target)"
                            [value]="dance.status">
                            <option value="REQUESTED">Requested</option>
                            <option value="FULFILLED">Fulfilled</option>
                            <option value="UNFULFILLED">Unfulfilled</option>
                            <option value="NO_SHOW">No Show</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="ui container" *ngIf="this.loading && !this.error">
    <div class="ui active dimmer">
        <div class="ui text loader">Loading</div>
    </div>
</div>
<div class="ui error message" *ngIf="!this.loading && this.error">
    {{this.errorMessage}}
</div>