<div class="ui container">
    <br />
    <h2 class="ui dividing header">
        Create Availability
    </h2>
    <div class="ui positive message" *ngIf="this.success">
        Your event has been successfully created! Let people know to book you!
    </div>
    <div class="ui error message" *ngIf="this.error">
        {{this.errorMessage}}
    </div>
    <form class="ui form" #availabilityForm>
        <div class="field">
            <label>Location</label>
            <input type="text" name="location" placeholder="Location" (change)="this.setValue('location', $event.target)">
        </div>
        <div class="field">
            <label>Dance Limit</label>
            <input type="number" name="danceLimit" placeholder="Dance Limit" value="-1" (change)="this.setValue('danceLimit', $event.target)">
        </div>
        <div class="two fields">
            <app-datepicker label="Start" name="startTime" type="datetime" end="endTime"
              (dateChanged)="this.setDateValue('startTime', $event)"></app-datepicker>
            <app-datepicker label="End" name="endTime" type="datetime" start="startTime"
              (dateChanged)="this.setDateValue('endTime', $event)"></app-datepicker>
          </div>
        <button class="ui primary button" type="button" (click)="this.create()">
            Create
        </button>
    </form>
</div>
